html {
    scroll-behavior: smooth;
}
body{
    background:rgb(196, 195, 195,0.9);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.zero{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOKVpitrFJEyHEYLfHsRqxouNME7YJYgi7DA&usqp=CAU);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    padding: 2px;
    border-radius: 20px;
}
.middle{
    margin-left: 7%;
}
ul{
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 255,0.3);
    width: 100%;
    padding:20px;
    margin: 0;
    position: fixed;
    top: 0;
}
ul:hover{
    background: rgb(255, 255, 255,0.3);
}
ul li{
    list-style: none;   
}
ul li a{
    color: rgba(240, 239, 239, 0.9);
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px;
}
ul li a:hover{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: rgba(67, 23, 223, 0.8);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
}
h5{
    color: white;
    text-align: center;
    font-size:15px;
}
h1{
    color: #fff;
    font-family: monospace;
    font-size: 50px;
}
.smalltitle{
    display: flex;
    margin-left: 1%;
    align-items: center;
}
.sub{
    background-color: rgba(10, 4, 4, 0.5);
    margin-top: 100px;
    width: 500px;
    text-align: center;
    margin-left: 360px;
    padding: 60px;
}
.sub:hover{
    background-color: rgb(236, 228, 228,0.2);
}
.moreinfo{
    display: flex;
    background-color: black;
    margin-top: 0;
    color: rgb(199, 188, 188);
    padding: 0;
    width: 100%;
    height: 40vh;
    font-family: sans-serif;
    justify-content: center;
}
.move {
    width: 50px;
    height: 50px;
    background:white;
    float: right;
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
  }
.position div i{
    color: #000;
}
.thirdmove{
    width: 50px;
    height: 50px;
    background-color:white;
    float: right;
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
}
.firstline{
    border-left: 1px solid #fff;
    display: block;
    height: 130px;
    width: 1px;
    margin-left: 50px;
    padding-top: 80px;   
}
.position{
    position: fixed;
    margin-top: 10%;
    float: right;
    right: 0%;
}
.move:hover{
    background: blue;
}
.thirdmove:hover{
    background: blue;
}
.fa:hover{
    color: #fff;
}
.secondline{
    border-left: 1px solid #fff;
    display: block;
    height: 200px;
    width: 1px;
    margin-left: 350px;
}
.thirdline{
    border-left: 1px solid #fff;
    display: block;
    height: 200px;
    width: 1px;
    margin-left: 370px;
}
.cover1, .cover2, .cover3{
    display: flex;
    margin-top: 50px; 
}
.text1, .text2, .text3{
    margin-left: 10px;
}
.text3{
    font-size: 15px;
}
.first, .second, .third{
    width: 300px;
    height: 40vh;
}
.ceo{
    position: absolute;
    margin-left: 15%;
    justify-content: center;
}
img{
    text-align: center;
}
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
}
footer:hover{
    background:rgb(0, 0, 255,0.5);
}
.letter{
    background-color: rgba(12, 11, 11, 0.8);
    width: 17%;
    margin-left: 40.3%;
    color: white;
    position: absolute;
    margin-top: 11%;
}
.letter1{
    background-color: rgba(12, 11, 11, 0.8);
    width: 17%;
    margin-left: 58.5%;
    color: white;
    position: absolute;
    margin-top: 11%;
}
.letter2{
    background-color: rgba(12, 11, 11, 0.8);
    width: 17%;
    margin-left: 22.3%;
    color: white;
    position: absolute;
    margin-top: 11%;
}
.letter2:hover{
    background: rgb(255, 255, 255,0.4);
    border-radius: 3px;
    color: black;
}
.letter:hover{
    background: rgb(255, 255, 255,0.4);
    border-radius: 3px;
    color: black;
}       .letter1:hover{
    background: rgb(255, 255, 255,0.4);
    border-radius: 3px;
    color: black;
}
@media only screen and (max-width: 700px) {
    ul {
        width: 100%;
        display: block;

    }
    ul li{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
  
}